{% extends 'base.html' %}

{% block form %}
        <div class="create-list-container">
          <div class="form-title">
              <h1>New List</h1>
          </div>
          <div class="form-container">
              <form action="{% url 'myTodoApp:new_list' %}" method="POST" id="create-list-form">
                {% csrf_token %}
                  <div class="list-inputs">
                      <input type="text" name="list_name" id="" placeholder="Enter new list name..."  required/>

                      <div class="custom-select">
                          <select name="list-type" required>
                              <option value="PERSONAL">Personal</option>
                              <option value="PROFESSIONAL">Professioal</option>
                              <option value="SCRATCH">Scratch</option>
                          </select>
                      </div>
                  </div>
                  <button type="submit"><i class="fas fa-plus"></i> Add</button>
              </form>
          </div>
      </div>
    {% endblock form%}


      


{% block content %}
        <div class="todoLists-container">
                {% for todoList in request.user.todolist.all|dictsortreversed:"creation_date" %}
                <div class="todoList">
                    <div class="todoList-preview {{todoList.list_type}}">
                      <h6>List</h6>
                      <!-- Add List Title Here -->
                      <h2>{{todoList.name}}</h2>
                      <!-- Add List Date Here -->
                      <p>{{todoList.creation_date}}</p>
                    </div>
                    <div class="todoList-info">
                      <div class="task-preview">
                        <h6>Latest Task</h6>
                        <h2>{{todoList.task_set.all|dictsortreversed:"creation_date"|first|default:"No Tasks Created"}}</h2>
                      </div>
                      <div class="progress-container">
                        <div class="progress"></div>
                        <div class="progress-done {{todoList.list_type}}"></div>
            
                        <!-- Add Progress Tasks Here -->
                        <span class="progress-text"> 6/9 Tasks Completed </span>
                      </div>
            
                      <div class="list-bnts">
                        <div class="btns-helper">
                          <a href="{% url 'myTodoApp:list_task' todoList.id %}" class="btn btn-view {{todoList.list_type}}"><div>View List</div></a>
            
                          <form class="list-btn-form" action="{% url 'myTodoApp:delete_list' todoList.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-delete">
                              <i class="fas fa-times"></i>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                {% endfor %}
            
        </div>
   

{% endblock content%}