{% extends 'base.html' %}



{% block title %}
<h2>Add New task</h2>
{% endblock title%}


{% block form %}
<div class="create-list-container">
    <div class="form-title">
        <h1>{{list_name}}</h1>
    </div>
    <div class="form-container">
        <form action="{% url 'myTodoApp:new_task' list_id%}" method="POST" id="create-list-form">
          {% csrf_token %}
            <div class="list-inputs">
                <input type="text" name="task_text" id="" placeholder="Enter new task..." />
            </div>
            <button type="submit"><i class="fas fa-plus"></i> Add</button>
        </form>
    </div>
</div>
    {% endblock form%}




{% block content %}
<div class="tasks-container">
    {% for task in tasks %}
    <div class="task-container">
        <div class="task">
        <div class="task-text">
            <h4>{{task.task_text}}</h4>
           
        </div>
            <form method="POST" class="task-complete-button" action="{% url 'myTodoApp:complete_task' list_id task.id%}">
                {% csrf_token %}
                {% if task.task_completed is not False %}
                <button class="btn btn-status complete">
                    <i class="fas fa-check"></i>
                    Complete
                </button>
                {% endif %}
                {% if task.task_completed is False %}
                <button class="btn btn-status ongoing">
                    <i class="fas fa-check"></i>
                    Ongoing
                </button>
                {% endif %}
                
            </form>
        </div>
        <form action="{% url 'myTodoApp:delete_task' list_id task.id%}" class="list-btn-form" method="POST">
            {% csrf_token %}
            <button class="btn btn-delete">
                <i class="fas fa-times"></i>
            </button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock content %}
